* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  list-style: none !important;

  text-decoration: none !important;
}


.hero {
  width: 100%;
  height: 100%;
  margin: auto !important;
  padding: 10px;
  background-color: black;

}

.white {
  color: white !important;
}

.navbar {
  margin: auto;
}

.navbars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  border-radius: 10px;
margin-top: 20px !important;
}

.end {
  display: flex;
  justify-content: end;
}

@media(max-width:992px) {
  header nav .end {
    justify-content: center !important;
  }
  .container-fluid .row .bottom img{
    width: 100% !important;
    height: 100% !important;
  }
  .navbars{
    width: 100%;
    background-color: rgb(26, 26, 26);
  }
  header nav ul li {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  header nav .brand {
 
    height: 80% !important;
    margin: auto;
  }


}

header nav .brand img {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

header nav ul li {
  height: 30px;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

header nav ul li a {
  margin: auto;
  font-size: 20px;
  font-weight: 400;


}

header nav ul li a::after {
  width: 100%;
  height: 3px;
  background-color: white;
  content: "";
  display: block;
  transition: .3s;
  opacity: 0;
  margin-left: -40px;
  margin-top: 10px;
}

header nav ul li a:hover::after {
  opacity: 1;
  margin-left: 0px;
}

@media(max-width:375px) {
  .toggle_nav {
    width: 150px;
    margin: auto !important;

  }
 
}

nav .container {
  margin: auto !important;
  padding: 20px !important;
}

.container-fluid .row .bottom {
  margin-top: 200px !important;
  margin-bottom: 300px !important;
}

.toggle_nav .icon_bar {
  font-size: 30px;
margin: 5px !important;   
}
.container-fluid .row .bottom img{
  width: 400px;
  height: 100%;
}