* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  list-style: none !important;

  text-decoration: none !important;
}


.hero {
  width: 100%;
  height: 100%;
  margin: auto !important;
  padding: 10px;
  background-color: black;

}

.white {
  color: white !important;
}

.navbar {
  margin: auto;
}

.navbars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow-x: hidden;
  border-radius: 10px;
  margin-top: 20px !important;
}

.end {
  display: flex;
  justify-content: end;
}

@media(max-width:992px) {
  header nav .end {
    justify-content: center !important;
  }

  .end {
    display: block !important;
    justify-content: start;
  }

  .container-fluid .row .bottom img {
    width: 100% !important;
    height: 100% !important;
  }

  .navbars {
    display: block;
    width: 100%;
    background-color: rgb(26, 26, 26);
  }

  header nav ul li {
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  header nav .brand {

    height: 80% !important;
    margin: auto;
  }

  /* emd media */
}

header nav .brand img {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

header nav ul li {
  height: 45px;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

header nav ul li a {

  margin: auto;
  font-size: 20px;
  font-weight: 400;


}

header nav ul li a::after {
  width: 100%;
  height: 3px;
  background-color: white;
  content: "";

  display: block;
  transition: .3s;
  opacity: 0;
  margin-left: -40px;
  margin-top: 10px;
}

header nav ul li a:hover::after {
  opacity: 1;
  margin-left: 0px;
}

@media(max-width:375px) {
  .toggle_nav {
    width: 150px;
    margin: auto !important;

  }

}

nav .container {
  margin: auto !important;
  padding: 20px !important;
}

.container-fluid .row .bottom {
  margin-top: 200px !important;
  margin-bottom: 300px !important;
}

.toggle_nav .icon_bar {
  font-size: 30px;
  color: white;
  margin: 5px !important;
}

.container-fluid .row .bottom img {
  width: 400px;
  height: 100%;
}

@media(max-width:295px) {
  header nav .brand {
    margin: auto !important;
  }
}

.container .row .col-lg-4 .wrap {
  width: 250px;
  height: 100%;
  margin: auto;

}

.container .row .col-lg-4 .wrap img {
  max-width: 250px;
  height: 100% !important;
}

.container .row .col-lg-4 .wrap h3 {
  margin-top: 30px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

footer {
  background-color: black;
}

.end {
  display: flex;
  justify-content: flex-end;
}

footer .footer_brand {
  width: 100%;
  height: 100%;
  margin: 20px;
}

footer .container .row .col-lg-6 .right h2 {
  font-size: 30px;
  margin-bottom: 30px !important;
}

footer .container .row .col-lg-6 .right .icon svg {
margin-right: 7.5px !important;
margin-left: 7.5px !important;  
font-size: 2.5vmax;
  transition: .3s;
  color: white;
}

footer .container .row .col-lg-6 .right .icon svg:hover {
  animation: hover .3s linear infinite;
  transform: scale(1.1);
  cursor: pointer;
}

footer .container .row .col-lg-6 .right .icon svg:nth-child(4) {
  border-radius: 50%;
}

footer .container .row .col-lg-6 .right .icon svg:nth-child(2) {
  border-radius: 50%;
}



@keyframes hover {
  50% {
    transform: translateY(-10px);

  }

  100% {

    transform: translateY(0px);
  }

}

@media(max-width:771px) {
  .end {
    justify-content: center !important;
    display: flex;
  }

  .end .icons {
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    margin: auto !important;
  }

  .end .icons .icon {
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
  }
}